<% content_for :title do %>Send a Message<% end %>

<% content_for :stylesheet do %>
<style>
.submit {
    height: 46px;
    margin-top: 24px;
    background-image: url(/assets/send-button.png);
    background-position-x: left;
}

.cancel {
    height: 46px;
    margin-top: 36px;
}
</style>
<% end %>

<h1 class="grid_16">Send a message to <%= @event.recipients.to_sentence %></h1>

<div class="grid_12">
    <div class="overview">
        <% unless current_is_student? %>
        <p><%= @event.student %> requested <%= title @event.book %></p>
        <% end %>
        <% if @event.donor && !current_is_donor? %>
        <p><%= @event.donor %> donated <%= title @event.book %></p>
        <% end %>
        <% if @event.fulfiller && !current_is_fulfiller? %>
        <p><%= @event.fulfiller %> (site volunteer) sent this book</p>
        <% end %>
    </div>

    <%= form_for @event, url: donation_messages_path(@donation) do |f| %>
        <p class="field_with_errors"><%= @event.errors[:message].join(", ") %></p>
        <%= f.text_area :message, rows: 6, cols: 60 %>
        <div class="clear"></div>

        <%= f.submit "", class: "grid_3 alpha submit button" %>
        <%= link_to 'Cancel', @donation.request, class: "grid_2 omega cancel" %>
        <div class="clear"></div>
    <% end %>
</div>
