<% content_for :title do %>Send a Message<% end %>

<% content_for :stylesheet do %>
<style>
.submit {
    height: 46px;
    margin-top: 24px;
    background-image: url(/assets/send-button.png);
    background-position-x: left;
}

.recipients label {
    font-size: 1.4em;
    padding-right: 12px;
}

.cancel {
    height: 46px;
    margin-top: 36px;
}
</style>
<% end %>

<h1 class="grid_16">
  <% if @event.reply_to_event %>
      Reply to <%= @event.reply_to_event.user %>
  <% else %>
      Send a message to <%= @event.potential_recipients.to_disjunctive_sentence %>
  <% end %>
</h1>

<div class="grid_12">
    <div class="overview">
      <% @event.potential_recipients.each do |recipient| %>
        <% case @event.role_for recipient %>
        <% when :student %>
          <p><%= recipient %> requested <%= title @event.book %></p>
        <% when :donor %>
          <p><%= recipient %> donated <%= title @event.book %></p>
        <% when :fulfiller %>
          <p><%= recipient %> (site volunteer) sent this book</p>
        <% end %>
      <% end %>
    </div>

    <%= form_for @event, url: donation_messages_path(@donation) do |f| %>
        <p class="field_with_errors"><%= @event.errors[:message].join(", ") %></p>
        <%= f.text_area :message, rows: 6, cols: 60 %>
        <div class="clear"></div>

        <%= f.hidden_field :reply_to_event_id %>

        <% if @event.potential_recipients.size > 1 %>
          <div class="recipients">
            <p class="field_with_errors"><%= @event.errors[:recipient].join(", ") %></p>
            <% @event.potential_recipients.each do |recipient| %>
                <label><%= f.radio_button :recipient_id, recipient.id %> To <%= recipient %></label>
            <% end %>
            <label><%= f.radio_button :recipient_id, nil %> To both</label>
          </div>
        <% end %>

        <%= f.submit "", class: "grid_3 alpha submit button" %>
        <%= link_to 'Cancel', @donation.request, class: "grid_2 omega cancel" %>
        <div class="clear"></div>
    <% end %>
</div>
