<% content_for :title do %>Admin<% end %>

<% content_for :stylesheet do %>
<style>
h2 {
    margin-top: 24px;
    margin-bottom: 12px;
}

td, th {
    padding-right: 12px;
}

.metric_header {
    font-size: 0.9em;
    width: 56px;
}

.overview {
    font-size: 1.5em;
    margin-bottom: 0;
}

.event {
    font-size: 11pt;
}

.dupe {
    color: #d80000;
}

.button {
    height: 56px;
    background-image: url(<%= asset_path 'delete-button.png' %>);
}
</style>
<% end %>

<h1 class="grid_16">Admin</h1>

<div class="grid_16 overview">
    <p class="alpha grid_12 omega">
        <%= link_to pluralize(@user_count, 'user'), admin_users_path %>
        &ndash; <%= link_to pluralize(@request_count, 'request'), admin_requests_path %>
        &ndash; <%= link_to pluralize(@pledge_count, 'pledge'), admin_pledges_path %>
        &ndash; <%= link_to pluralize(@event_count, 'event'), admin_events_path %>
        &ndash; <%= link_to pluralize(@review_count, 'review'), admin_reviews_path %>
        &ndash; <%= link_to pluralize(@testimonial_count, 'testimonials'), admin_testimonials_path %>
        &ndash; <%= link_to pluralize(@referral_count, 'referral'), admin_referrals_path %>
    </p>
    <div class="clear"></div>

    <h2>User search</h2>
    <%= form_tag admin_users_path, method: :get do %>
    <%= text_field_tag :q, "", placeholder: 'Name or email' %>
    <%= submit_tag 'Go' %>
    <% end %>

    <h2>Request pipeline</h2>
    <%= render partial: "admin/metrics", object: @metrics.request_pipeline %>

    <h2>Active pledges</h2>
    <%= render partial: "admin/metrics", object: @metrics.pledge_metrics %>

    <h2>Past pledges</h2>
    <%= render partial: "admin/metrics", object: @metrics.past_pledge_metrics %>

    <h2>Send-money sub-pipeline</h2>
    <%= render partial: "admin/metrics", object: @metrics.send_money_pipeline %>

    <h2>Pipeline breakdown</h2>
    <%= render partial: "admin/metrics_table", object: @metrics.pipeline_breakdown.with_links(
            'Open requests' => admin_requests_path(type: :not_granted),
            'Needs donor action' => admin_requests_path(type: :needs_donor_action),
            'Needs fulfillment' => admin_requests_path(type: :needs_fulfillment),
            'Needs sending by volunteer' => admin_requests_path(type: :needs_sending_by_volunteer),
            'In transit' => admin_requests_path(type: :in_transit),
            'Reading' => admin_requests_path(type: :reading),
        )
    %>

    <h2>Daily fulfillments</h2>
    <%= render partial: "admin/metrics_table", object: @metrics.daily_fulfillments %>

    <h2>Weekly fulfillments</h2>
    <%= render partial: "admin/metrics_table", object: @metrics.weekly_fulfillments %>

    <h2>Donation metrics</h2>
    <%= render partial: "admin/metrics", object: @metrics.donation_metrics %>

    <h2>Latest events</h2>
    <% @latest_events.each do |event| %>
    <p class="event"><%= render partial: "admin/events/event_headline", locals: {event: event} %></p>
    <% end %>

    <h2>Books leaderboard</h2>
    <%= render partial: "admin/metrics_table", object: @metrics.book_leaderboard %>
</div>
