<% if ENV['AMAZON_PAYMENTS_DISABLED'] %>
  <div class="message error">
    <p class="headline">Credit card payments are temporarily unavailable.</p>
    <p class="detail">
      Owing to a problem with Amazon Payments, we can't accept payment via credit card right now.
      I'm working to fix this and hope to have it resolved by Friday, July 5.
    </p>
    <p class="detail">
      In the meantime, a workaround is as follows:
    </p>
    <ol class="detail">
      <li>
        Go to Amazon and buy a gift certificate for <%= humanized_money_with_symbol amazon_payment.amount %>:
        <%= link_to 'https://www.amazon.com/gp/product/B004LLIKVU', 'https://www.amazon.com/gp/product/B004LLIKVU' %>
      </li>
      <li><strong>Put your name on it so we know who it's from.</strong></li>
      <li>Send it to: donations@freeobjectivistbooks.org</li>
    </ol>
    <p class="detail">
      If you have any problems, contact Jason: <%= mail_to 'jason@rationalegoist.com' %>
    </p>
  </div>
<% else %>
  <form action="<%= amazon_payment.form_submit_url %>" method="post">
    <% amazon_payment.params.each do |key,value| %>
        <%= hidden_field_tag key, value %>
    <% end %>
    <%= image_submit_tag "http://g-ecx.images-amazon.com/images/G/01/asp/beige_medium_paynow_withlogo_lightbg.gif" %>
  </form>

  <% if chrome? %>
      <div class="message error">
        <p class="headline">You appear to be using Chrome. Some users have had problems paying with this browser.</p>
        <p class="detail">If you reach a blank page after logging in to Amazon:</p>
        <ol class="detail">
          <li>Try clearing your cache and/or cookies and starting over.
          <li>Alternately, you can use another browser, such as Safari or Firefox.
        </ol>
        <p class="detail">(We've notified Amazon of the problem but don't know if or when they will resolve it—sorry for the inconvenience.)
        </p>
      </div>
  <% end %>
<% end %>
