<% content_for :title do %>Donate<% end %>

<% content_for :stylesheet do %>
    <style>
        .donate, .loading {
            height: 56px;
        }

        .donate {
            background-image: url(/assets/donate-one-button.png);
        }

        .send-books {
            height: 46px;
            margin-top: 8px;
            background-image: url(/assets/send-books-button.png);
        }

        .center {
            margin-top: 5px;
        }

        .sidebar li {
            margin-left: 18px;
            padding: 3px 0;
        }

        .any-donations, .no-donations, .donate-explanation {
            display: none;
        }

        .send_options {
            width: 117px;
            text-align: center;
        }

        .book_price {
            font-size: 1.4em;
        }

        .send_yourself {
            font-size: 0.9em;
        }

        #donate-explanation {
            margin-top: 12px;
        }
    </style>
<% end %>

<h1 class="grid_16">Donate</h1>

<div class="grid_16 overview">
  <% if @requests.any? %>
      <p>These students have pledged to read Objectivist books. Choose which ones you want to fulfill.</p>
  <% else %>
      <p>All student requests have been granted for now! Check back soon for more eager minds.</p>
  <% end %>
</div>

<div class="grid_11 center">
  <%= render @requests %>
</div>

<div class="grid_5 sidebar">
  <div class="grid_5 fixed">
    <div class="top_5">&nbsp;</div>
    <div class="content_5">
      <h2>Your donations</h2>
      <% if @pledge %>
          <p>You have pledged to donate <%= pluralize @pledge.quantity, 'book' %>.</p>
      <% end %>
      <p class="no-donations">
        <% if @previous_count > 0 %>
            You previously donated <%= pluralize @previous_count, 'book' %>.
        <% else %>
            You haven't donated any books yet.
        <% end %>
      </p>
      <% if @flag_count > 0 %>
          <p class="no-donations"><%= pluralize @flag_count, "book" %> flagged and waiting on student response.</p>
      <% end %>
      <div class="any-donations">
        <p>You have promised <span id="donation-count"></span>:</p>
        <ul id="donations-list"></ul>
        <p id="send-money-summary"></p>
        <%= link_to send_donations_path do %><div class="send-books button"></div><% end %>
      </div>

      <div id="donate-explanation">
          <p class="donate-explanation-link"><%= link_to "What does “send it yourself” mean?", 'javascript:void(0);' %></p>
          <div class="donate-explanation">
            <p>When you donate a book, you have two options:</p>
            <ul>
                <li><strong>Send the book yourself</strong>, directly to the student</li>
                <li><strong>Contribute money</strong> and a volunteer will send the book on your behalf</li>
            </ul>
            <p>
                The prices listed are for volunteer sending. You can often get used books for a better
                price, if you're willing to ship the book to the student directly.
            </p>
            <p>
                Not all books are eligible for volunteer sending, and we don't currently send books
                outside the US. If a request is not eligible, you'll have to send it yourself.
            </p>
            <p class="donate-explanation-link"><%= link_to "Close", 'javascript:void(0);' %></p>
          </div>
      </div>
    </div>
    <div class="bottom_5">&nbsp;</div>
  </div>
</div>

<% content_for :javascript do %>
    <script>
        $(document).ready(function () {
            var donations = <%= raw @donations.to_json %>;

            function eligibleDonations() {
                return $.grep(donations, function (donation) { return donation['can_send_money?']; });
            }

            function formatMoney(amount) {
                var fmt = "";
                if (amount % 1 === 0) {
                    fmt = amount.toString();
                } else {
                    fmt = amount.toFixed(2);
                }
                return "$" + fmt;
            }

            function formatMoneyHTML(amount) {
                return '<span class="money">' + formatMoney(amount) + '</span>';
            }

            function donationTotal() {
                var sum = 0;
                $.each(eligibleDonations(), function (i, donation) {
                    sum += donation.price_cents;
                });
                return sum/100;
            }

            function addDonationToList(donation, animated) {
                var html = '<span class="title">' + donation.book.title + '</span> to ' + donation.student.name +
                    ' in ' + donation.student.location.name;
                if (donation['can_send_money?']) {
                    html += ' – ' + formatMoneyHTML(donation.price_cents/100.0);
                }
                var item = $('<li>' + html + '</li>');
                $('#donations-list').append(item);
                if (animated) item.hide().fadeAndSlideIn();
            }

            function updateTotals() {
                $('#donation-count').text(donations.length + " book" + (donations.length === 1 ? "" : "s"));

                var totalHTML = formatMoneyHTML(donationTotal());
                var sendMoneySummary = "";

                var eligible = eligibleDonations();
                if (eligible.length == donations.length) {
                    sendMoneySummary = "Send these books yourself, or pay " + totalHTML +
                            " to have them sent by volunteers.";
                } else if (eligible.length == 0) {
                    sendMoneySummary = "No books eligible to be sent by volunteers; send these ones yourself.";
                } else {
                    sendMoneySummary = eligible.length + " books eligible to be sent by volunteers, for " + totalHTML +
                            ", or send them yourself.";
                }

                $('#send-money-summary').html(sendMoneySummary);
            }

            function render(animated) {
                var duration = animated ? null : 0;

                if (donations.length == 0) {
                    $('.no-donations').fadeAndSlideIn(duration);
                    $('.any-donations').fadeAndSlideOut(duration);
                    return;
                }

                $('#donations-list').empty();
                $.each(donations, function (i, donation) {
                    addDonationToList(donation);
                });
                updateTotals();
                $('.no-donations').fadeAndSlideOut(duration);
                $('.any-donations').fadeAndSlideIn(duration);
            }

            $('div.request').handleAjax(function (event, response, status, xhr) {
                var donation = response;

                var first = donations.length === 0;
                donations.push(donation);

                $(this).fadeAndSlideOut();

                if (first) {
                    render(true);
                } else {
                    addDonationToList(donation, true);
                    updateTotals();
                }
            });

            $('.donate-explanation-link').click(function () {
                $('.donate-explanation').fadeAndSlide();
            });

            render();
        });
    </script>
<% end %>
