<% content_for :title do %><%= @request.user.name %> wants <%= @request.book %><% end %>

<% content_for :stylesheet do %>
<style>
.name {
    margin-bottom: 0;
}

.back {
    margin-top: 24px;
}

.sidebar {
    margin-top: 24px;
}

.button {
    height: 46px;
    margin: 6px 0;
    background-position-x: left;
}

.sent {
    background-image: url(<%= asset_path 'sent-button.png' %>);
}

.update {
    background-image: url(<%= asset_path 'update-button.png' %>);
}
</style>
<% end %>

<% if @request.needs_fix? && current_is_student? %>
<div class="grid_12 message error">
    <p class="headline">
        <% if @request.address.blank? %>
        We need your address to send you your book.
        <%= link_to 'Add your address', fix_flag_path(@request.flag) %>
        <% else %>
        There seems to be a problem with your shipping info.
        <%= link_to 'Update your shipping info', fix_flag_path(@request.flag) %>
        <% end %>
    </p>
</div>
<% end %>

<div class="grid_16">
    <h1><%= @request.user.name %> wants <%= title @request.book %></h1>
    <p class="overview tagline"><%= user_tagline @request.user %></p>
    <p class="reason"><%= format_block @request.reason %></p>
</div>

<div class="request grid_10">
    <% if current_is_sender? || current_is_student? %>
    <h2>Ship to</h2>
    <p class="name"><%= @request.user.name %></p>
    <p class="address"><%= format_address @request.address %></p>

    <% if current_is_sender? && @request.needs_fix? %>
    <p class="flagged">
        <% if @request.address.present? %>
        Shipping info flagged
        <% else %>
        Student has been contacted to add address
        <% end %>
    </p>
    <% end %>
    <% end %>

    <h2>Status: <%= status_headline @request %></h2>
    <p class="status"><%= status_detail @request %></p>
    <% if @request.review %>
    <p class="review"><%= format_block @request.review.text %></p>
    <% end %>

    <% if current_is_donor? %>
    <p class="back"><%= link_to 'Back to all donations', profile_path %></p>
    <% end %>
</div>

<% if @actions.any? %>
<div class="grid_5 sidebar">
    <div class="top_5">&nbsp;</div>
    <div class="content_5">
        <%= render @actions %>
    </div>
    <div class="bottom_5">&nbsp;</div>
</div>
<% end %>

<div class="clear"></div>
