<% content_for :title do %>Send Money for Your Donations<% end %>

<% content_for :stylesheet do %>
    <style>
        .main {
            margin-top: 18px;
        }

        .summary {
            font-size: 1.3em;
        }

        .totals {
            padding-top: 12px;
            font-weight: bold;
        }

        form {
            padding-top: 12px;
        }

        .message {
            margin-top: 12px;
        }

        h2 {
            margin-bottom: 12px;
        }
    </style>
<% end %>

<h1 class="grid_16">Make a payment</h1>

<div class="main grid_12">
  <div class="summary">
    <p>You chose to pay for:</p>
    <% @order.donations.each do |donation| %>
        <div class="donation">
          <span class="grid_8 alpha">
            <%= link_to donation.request, do %>
                <%= title donation.book %> to <%= donation.student %> in <%= donation.student.location %>
            <% end %>
          </span>
          <span class="grid_1 money"><%= humanized_money_with_symbol donation.price %></span>
          <div class="clear"></div>
        </div>
    <% end %>

    <div class="totals">
      <div id="total">
        <span class="grid_8 alpha">Total</span>
        <span class="grid_1 money"><%= humanized_money_with_symbol @order.total %></span>
        <div class="clear"></div>
      </div>
      <% if @order.balance_to_be_applied != 0 && @order.new_contribution_needed != 0 %>
          <div id="balance">
            <span class="grid_8 alpha">Your previous balance</span>
            <span class="grid_1 money"><%= humanized_money_with_symbol @order.balance_to_be_applied %></span>
            <div class="clear"></div>
          </div>
          <div id="contribution">
            <span class="grid_8 alpha">New contribution needed</span>
            <span class="grid_1 money"><%= humanized_money_with_symbol @order.new_contribution_needed %></span>
            <div class="clear"></div>
          </div>
      <% else %>
      <% end %>
    </div>
  </div>

  <% if @order.new_contribution_needed > 0 %>
      <%= render @amazon_payment %>
  <% else %>
      <p class="summary">These donations are covered by your existing balance. No new contribution is needed.</p>
      <%= form_for @order, url: pay_order_path(@order) do |f| %>
          <%= f.submit "", class: "button pay-for-all" %>
      <% end %>
  <% end %>
</div>
<div class="clear"></div>
