<% content_for :title do %>Send Money for Your Donations<% end %>

<% content_for :stylesheet do %>
    <style>
        .main {
            margin-top: 18px;
        }

        .summary {
            font-size: 1.3em;
        }

        #totals {
            padding-top: 12px;
            font-weight: bold;
        }

        #payment {
            padding-top: 20px;
        }

        form {
            padding-top: 12px;
        }

        .message {
            margin-top: 12px;
        }

        h2 {
            margin-bottom: 12px;
        }
    </style>
<% end %>

<% if @is_payment_return %>
    <div class="grid_12 flash">
      <% if @payment_success %>
          <div class="message notice">
            <p class="headline">Thank you!</p>
            <p class="detail">
              <% if @contribution %>
                  We received your contribution of <%= humanized_money_with_symbol @contribution.amount %>.
              <% elsif @payment_pending %>
                  Your contribution has been delayed. Please check back in 24 hours to verify that your books have been paid for.
                  <strong>There is no need to make another contribution for these books.</strong>
                  <%= mail_to 'jason@rationalegoist.com', "Contact Jason" %> if your books don't show as paid by tomorrow.
              <% else %>
                  Your contribution is being processed; refresh this page in a moment to confirm.
              <% end %>
            </p>
          </div>
      <% else %>
          <div class="message error">
            <p class="headline">
              <% if @abandoned %>
                  You appear to have canceled your payment.
              <% else %>
                  There was a problem with your payment. Try again or
                    <%= mail_to 'jason@rationalegoist.com', "contact us" %> if you need help.
              <% end %>
            </p>
          </div>
      <% end %>
    </div>
<% end %>

<h1 class="grid_16">Your donations</h1>

<div class="main grid_12">
  <div class="summary">
    <% @order.donations.each do |donation| %>
        <div class="donation">
          <span class="grid_8 alpha">
            <%= link_to donation.request do %>
                <%= title donation.book %> to <%= donation.student %> in <%= donation.student.location %>
            <% end %>
          </span>
          <% if donation.can_send_money? %>
              <span class="grid_1 money">
                <% if !@order.paid? && donation.paid? %>
                    PAID
                <% else %>
                    <%= humanized_money_with_symbol donation.price %>
                <% end %>
              </span>
          <% else %>
              <span class="grid_1 warning">Not eligible</span>
          <% end %>
          <div class="clear"></div>
        </div>
    <% end %>

    <div id="totals">
      <% if @order.paid? %>
          <div id="total">
            <span class="grid_8 alpha">Total</span>
            <span class="grid_1 money"><%= humanized_money_with_symbol @order.total %></span>
            <div class="clear"></div>
          </div>
      <% else %>
          <div id="total">
            <span class="grid_8 alpha">Total</span>
            <span class="grid_1 money"><%= humanized_money_with_symbol @order.unpaid_total %></span>
            <div class="clear"></div>
          </div>
          <% if @order.balance != 0 && @order.contribution != 0 %>
              <div id="balance">
                <span class="grid_8 alpha">Your previous balance</span>
                <span class="grid_1 money"><%= humanized_money_with_symbol @order.balance %></span>
                <div class="clear"></div>
              </div>
              <div id="contribution">
                <span class="grid_8 alpha">New contribution needed</span>
                <span class="grid_1 money"><%= humanized_money_with_symbol @order.contribution %></span>
                <div class="clear"></div>
              </div>
          <% else %>
          <% end %>
      <% end %>
    </div>
  </div>

  <div id="payment">
    <% if @order.paid? %>
        <p class="summary">All these books have been paid for, thanks! A volunteer will send them soon.</p>
    <% elsif !@payment_success %>
        <% if @order.needs_contribution? %>
            <%= render @payment %>
        <% else %>
            <p class="summary">These donations are covered by your existing balance. No new contribution is needed.</p>
            <%= form_for @order, url: pay_order_path(@order) do |f| %>
                <%= f.submit "", class: "button pay-for-all" %>
            <% end %>
        <% end %>
    <% end %>
  </div>
</div>
<div class="clear"></div>
