<div class="any-donations">
  <div id="donate-explanation">
    <p class="donate-explanation-link"><strong><%= link_to "Help – what do I do here?", 'javascript:void(0);' %></strong></p>
    <div class="alpha grid_12 omega donate-explanation">
      <p class="text">These are the books you have chosen to donate, and your options for donating.</p>

      <div class="alpha grid_3 button donation-pay"></div>
      <p class="grid_9 omega text">
        <strong>When you see this button,</strong> you can send us a contribution to cover the book
        and shipping. A site volunteer will send the book on your behalf. (If you don't see this
        option next to a request, then it is not eligible for volunteer sending.)
      </p>
      <div class="clear"></div>

      <div class="alpha grid_3 button pay-for-all"></div>
      <p class="grid_9 omega text">
        <strong>Use this to pay for all eligible donations.</strong> Or, select one or more donations
        to pay for only some of them.
      </p>
      <div class="clear"></div>

      <div class="alpha grid_3 button donation-send"></div>
      <p class="grid_9 omega text">
        <strong>You can always send the book yourself,</strong> directly to the student. Use this
        button to see shipping info for each book. You can often get better prices on books this
        way, especially if you buy them used. Or, if you have extra copies at home, use this option
        and simply drop them in the mail.
      </p>
      <div class="clear"></div>

      <div class="alpha grid_3 button sent"></div>
      <div class="grid_9 omega text">
        <p>
          <strong>Use this after you've sent a book yourself</strong> to let us and the student
          know it's on its way.
        </p>
        <p>
          If ordering online to ship directly to the student, you may need to put in a phone number.
          We don't collect student's phone numbers right now; it's best to enter your own number.
        </p>
        <p class="donate-explanation-link"><%= link_to "Close", 'javascript:void(0);' %></p>
      </div>
      <div class="clear"></div>

      <%= render "requests/spacer" %>
    </div>
  </div>

  <%= render partial: "donations/donation_with_actions", collection: outstanding_donations %>

  <div id="payment-button-row">
    <div class="grid_7 alpha">&nbsp;</div>
    <%= form_tag orders_path, id: "payment-form" do %>
        <div id="payment-button" class="grid_3 button pay-for-all"></div>
    <% end %>
    <span class="grid_1 money book_price" id="donations-total"></span>
    <div class="clear"></div>
  </div>

  <%= render "requests/spacer" %>
</div>

<p class="no-donations">None right now.</p>

<% if flag_count > 0 %>
    <p class="flagged"><%= pluralize flag_count, 'donation' %> flagged and waiting on student response.</p>
<% end %>

<p class="no-donations"><%= link_to 'Find students to donate books to', donate_path %></p>

<p><%= link_to 'See all your donations', donations_path %></p>
