<% content_for :title do %>Send Money for Your Donations<% end %>

<% content_for :stylesheet do %>
<style>
.main {
    margin-top: 18px;
}

.main > p, .main > ul {
    font-size: 1.3em;
}

.message {
    margin-top: 12px;
}

h2 {
    margin-bottom: 12px;
}
</style>
<% end %>

<h1 class="grid_16">Your donations</h1>

<div class="main grid_12">
    <% if @donations.any? %>
    <p>You chose to donate:</p>
    <ul>
    <% @donations.each do |donation| %>
        <li>
            <%= link_to donation.request do %>
                <%= title donation.book %> to <%= donation.student %> in <%= donation.student.location %> –
                <%= humanized_money_with_symbol donation.price %>
            <% end %>
        </li>
    <% end %>
    </ul>

    <p>Total for your donations: <span class="money"><%= humanized_money_with_symbol @total %></span></p>

    <form action="<%= @amazon_payment.form_submit_url %>" method="post">
        <% @amazon_payment.params.each do |key,value| %>
        <%= hidden_field_tag key, value %>
        <% end %>
        <%= image_submit_tag "http://g-ecx.images-amazon.com/images/G/01/asp/beige_medium_paynow_withlogo_lightbg.gif" %>
    </form>

    <% if chrome? %>
    <div class="message error">
        <p class="headline">You appear to be using Chrome. Amazon Payments has been having problems in this browser.</p>
        <p class="detail">You may want to try another browser, such as Safari or Firefox.</p>
    </div>
    <% end %>

    <% elsif @current_user.donor_mode.send_money? %>
    <p>No donations to pay for right now. <%= link_to 'Find students to donate books to', donate_path %></p>
    <% else %>
    <p>Your account is set up to send books directly to the students, not to pay Free Objectivist Books for them.
        You may have reached this page because of an old link or a bug. If you want to put your account in
        “just send money” mode, <%= mail_to 'jason@rationalegoist.com', 'contact Jason' %>.
    </p>
    <% end %>
</div>
<div class="clear"></div>
