<% content_for :title do %>Contributions Test<% end %>

<% content_for :stylesheet do %>
<style>
.main {
    font-size: 1.3em;
    margin-top: 18px;
}
</style>
<% end %>

<h1 class="grid_16">Test contribution</h1>

<div class="main grid_12">
    <p>Reference ID: <%= @ref %></p>
    <p>Test amount: <span class="money"><%= humanized_money_with_symbol @amount %></span></p>

    <form action="<%= @amazon_payment.form_submit_url %>" method="post">
        <% @amazon_payment.params.each do |key,value| %>
        <%= hidden_field_tag key, value %>
        <% end %>
        <%= image_submit_tag "http://g-ecx.images-amazon.com/images/G/01/asp/beige_medium_paynow_withlogo_lightbg.gif" %>
    </form>
</div>
<div class="clear"></div>
