<p>FYI, there has been a delay in sending your donation of <i><%= @event.book %></i> to <%= @event.student %> through
    Free Objectivist Books. <%= @event.user %> (<%= role_description @event.user_role %>) has flagged a problem with
    the student's shipping info.
</p>

<p><%= @event.user %> says: "<%= format_block @event.message %>"</p>

<p>We'll follow up with <%= @event.student %>; no action is needed from you.</p>
