<div class="donation">
    <%= render "requests/spacer" %>
    <div class="grid_6 alpha request">
        <p class="headline"><%= title donation.book %> to <%= donation.student.name %></p>
        <p>On behalf of <%= donation.donor.name %></p>
    </div>
    <div class="grid_6 omega actions">
        <%= form_for donation.build_fulfillment, url: donation_fulfillment_path(donation) do |f| %>
            <%= f.submit "", class: "grid_3 alpha omega button sent" %>
        <% end %>
    </div>
    <div class="clear"></div>
</div>
