<p>You requested a copy of <i><%= @request.book %></i> from Free Objectivist Books
  on <%= short_date_with_time_ago @request.created_at %>. We're sorry we haven't found a donor for you yet—we get a lot
  of requests for books, and sometimes we can't get enough donations to grant them all. (We try to find a donor for
  every request, but no guarantees.)
</p>

<p>If you still want this book, please let us know using this link, and we'll put your request back at the top to find a donor:</p>

<p><b><%= link_to renew_request_url(@request) do %>Renew your request for <i><%= @request.book %></i><% end %></b></p>

<p>If you don't want this book anymore, you can <%= link_to "cancel your request", cancel_request_url(@request) %> instead.
  (If we don't hear back from you <% if @use_autocancel_at %>by <%= l @request.autocancel_at.to_date, format: :short %><% else %>soon<% end %>,
  we'll assume you're no longer interested and cancel your request automatically.)
</p>
