<p>We are still waiting to receive a contribution from you of <%= humanized_money_with_symbol @total %> to sponsor your
    donations on Free Objectivist Books.
</p>

<% if @single %>
<p>This contribution will cover sending <i><%= @donation.book %></i> to <%= @donation.student %> in <%= @donation.student.location %>.</p>
<% else %>
<p>This contribution will cover the following books:</p>

<ul>
<% @donations.each do |donation| %>
<li><i><%= donation.book %></i> to <%= donation.student %> in <%= donation.student.location %></li>
<% end %>
</ul>
<% end %>

<p>Please make your contribution using this link:</p>

<strong><%= link_to 'Pay for your donations', new_contribution_url %></strong>
